@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Bitcount Grid Single Ink" ;
 }
body{
   background-color: rgb(240, 232, 232);
   text-shadow: 1px 1px 15px rgb(247, 15, 189);
   
}
 h1{
    text-align: center;
    text-decoration: underline;
    
 }

 
 .container{
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: center;
    width: 75%;
    background-color: rgb(243, 233, 233);
    margin: auto;
}
.playerTurn h2{
    align-items: center;
}


.playerScore{
    border: 2px solid rgb(8, 8, 8);
    flex:1;
    text-align: center;
   background-color: rgb(241, 229, 229);
 
}

 .score {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    width: 80%;
    box-shadow: 6px 6px #999;
}
.row {
    display: flex;
    gap: 5px; 
}
.gameGrid {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.ticTacToeTile {
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
    
}

button:active{
  box-shadow: 3px 3px #666;
  transform: translate(4px);
}

button{
  box-shadow: 6px 6px #999;
  border: 2px solid black;
}


.reset{
  width: 50px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;

}
#nextGameButtons button{
  width: 60px;
  height: 50px;
  
}

button:hover {
  cursor: pointer;
}

@keyframes pulseWin {
  0% {
    background-color: #eeeeee;
    transform: scale(1);
  }
  50% {
    background-color: #00ccff;
    transform: scale(1.05);
  }
  100% {
    background-color: #eeeeee;
    transform: scale(1);
  }
}

.pulseWin {
  animation: pulseWin 0.8s infinite;
}
